* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: 'Montserrat-SemiBold';
}

.container {
    margin: auto;
    padding: 0 50px;
    max-width: 1870px;
    width: 100%;
}
.none{
    max-height: 0;
    overflow: hidden;
}
.button{
    height: 36px;
    width: 120px;
    background-color: var(--blue);
    border-radius: var(--border-radius);
    color: var(--white);
  }