* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: 'Montserrat-SemiBold';
}

.container {
    margin: auto;
    padding: 0 50px;
    max-width: 1870px;
    width: 100%;
}