.list{
  margin-left: 75px;
}
.test>li:nth-child(n) {
  display: block;
  width: 275px;
  background-color: white;
  margin-top: 30px;
  border-radius: 25px;
}

.test>img:nth-child(n) {
  display: inline-block;
  width: 67px;
  height: 66px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 45px;
}

.test>p:nth-child(n) {
  display: inline-block;
  position: relative;
  padding-right: 42px;
  padding-left: 25px;
  font-family: 'MullerMedium';
  font-weight: 400;
  /*толщина шрифта*/
  font-size: 16px;
  /*размер шрифта*/
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  left: 20px;
}

.test,
.test-one {
  /*второй ряд иконок*/
  display: flex;
  gap: 50px;
}

.test-one>li:nth-child(n) {
  display: block;
  width: 275px;
  background-color: white;
  margin-top: 30px;
  border-radius: 25px;
}

.test-one>img:nth-child(n) {
  display: inline-block;
  width: 67px;
  height: 66px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 45px;
}

.test-one>p:nth-child(n) {
  display: inline-block;
  ;
  position: relative;
  padding-right: 42px;
  padding-left: 25px;
  padding-top: 5px;
  font-family: 'MullerMedium';
  font-weight: 400;
  /*толщина шрифта*/
  font-size: 16px;
  /*размер шрифта*/
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  left: 20px;
}

.list__img {
  width: 100%;
  height: 250px;
  border-radius: 25px 25px 0 0;
  cursor: pointer;
}
.list__img__one{
  width: 100%;
  height: 100%;
  right: 10%;
  border-radius: 25px;
  cursor: pointer;
}

.style-one {
  display: flex;
  font-family: 'MullerBold';
  margin-left: 40px;
  margin-top: 5px;
}

.style-two {
  color: var(--grey-color);
  font-weight: 200;
  /*толщина шрифта*/
  font-size: 18px;
  /*размер шрифта*/
  font-family: 'MullerRegular';
  font-style: normal;
  font-weight: normal;
  margin-top: 3px;
}

.style-three {
  margin-left: 5px;
  color: var();
  font-weight: 700;
  /*толщина шрифта*/
  font-size: 20px;
  /*размер шрифта*/
  font-family: 'MullerBold';
  font-weight: normal;
}

.style-four {
  margin-left: 5px;
  color: var();
  font-weight: 700;
  /*толщина шрифта*/
  font-size: 18px;
  /*размер шрифта*/
  font-family: 'MullerMedium';
  font-style: normal;
  font-weight: normal;
  margin-top: 3px;
}

.list__button {
  display: flex;
  width: 87px;
  height: 32px;
  margin-left: 90px;
  margin-bottom: 5px;
  padding: 6px 8px;
}